{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <select name="stock" autofocus required class="form-select" aria-label="Default select example">
                    <option selected disabled value="">Select the Stock</option>
                    {% for ele in list %}
                    <option value="{{ ele['symbol'] }}">{{ ele['symbol'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3 col">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="qty" placeholder="Quantity" type="number" min="1" required>
            </div>
            <div class="col"></div>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>

{% endblock %}

